<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="nav navbar-nav">
      <a
        class="nav-link"
        routerLink="/blog"
        routerLinkActive="router-link-active"
        >BLOG</a
      >
      <a
        class="nav-link"
        routerLink="/book"
        routerLinkActive="router-link-active"
        >BOOK</a
      >

      <a
        class="nav-link"
        routerLink="/profile"
        routerLinkActive="router-link-active"
        >PROFILE</a
      >
      <a
        class="nav-link"
        routerLink="/book-form/form"
        routerLinkActive="router-link-active"
        >BOOK FORM</a
      >
      <a
        class="nav-link"
        routerLink="/blog-form/form"
        routerLinkActive="router-link-active"
        >BLOG FORM</a
      >
    </div>
  </div>
</nav>
