.btn-outline-success{
    margin-left:105px ;
    border: 2px solid hsl(119, 92%, 25%);
    font-size: 17px;
    padding: 5px;
    width: 100px;
    height: 45px;
    border-radius: 12px;
}
.btn-outline-danger{
    margin-left: 20px;
    border: 2px solid hsl(0, 93%, 45%);
    font-size: 17px;
    padding: 5px;
    width: 120px;
    height: 45px;
    border-radius: 12px;
}