.form{
    font-family: poppins;
    font-size: 18px;
    background-color: rgb(152, 240, 240, 0.75);
    box-shadow: 0 0 10px rgb(10, 9, 9);
    padding: 13px;
    border-radius: 10px;
    color:black;
}
.list-group-item{
    border-color: black;
    border-radius: 10px;
    margin-bottom: 10px;

}
